<div id = "header">
    <img src="../../assets/logo-png.png" id = "logo" alt="logo">
    <div id="navitems">
         <span class="item"><a href="#home">Home</a></span>
         <span class="item"><a href="" routerLink="home">Labour</a></span>
         <span class="item"><a href="">Employer</a></span>
         <span class="item"><a href="">About</a></span>
         <span class="item"><a routerLink="/log">SignIn/SignUp</a></span>
    </div>
 </div>
<div class="home" id="home" #test>
    <p class="info1 info">HIRE DAY LABOUR FOR YOUR<br> HOUSEHOLD WORK</p>
    <p class="info2 info"><i>"We promise to deliver the right skilled laborer, in the right place, at the right time and for the right price."</i></p>
</div>


